/* TSOS.css */

body {
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#000000;
  cursor: default;
}

.normal_button {
  width: 80px;
  position: relative;
  display: block;
}

#btnHaltOS {
  top: 180px;
  left: 15px;
}

#btnReset {
  top: 160px;
  left: 210px;
}

#btnSingleStepToggle.on {
  color: green
}

#btnSingleStepToggle.off:enabled {
  color: red
}

#singleStepBtnGroup {
  position: relative;
  display: flex;
  width: 80px;
  top: 110px;
  left: 15px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#displayContainer {
  display: flex;
  flex-direction: column;
}

#taskbar {
  display: flex;
  align-content: space-between;
  width: 665px;
  height: 30px;
  background-color: grey;
  margin-left: 1px;
  padding: 2px;
  padding-top: 0;
  margin-top: 0;
  position: relative;
  left: 32px;
  top: 25px;
}

#taskbar > span {
  /* width: 100%; */
  flex: content;
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding: 5px;
}

#monitor {
  margin: 0 auto;
  display: relative;
}

#divLog { 
  
}

#divUserProgramInput { 
 
}

#divMain {
  display: flex;
  flex-direction: row;
}

#tower {
  width: 300px;
}

#divConsole {
  margin: 0px;
  margin-bottom: 0; 
  width: 670px; 
  height: 510px; 
  /* overflow:auto; */
  position: relative;
  top: 25px;
  left: 32px
}

#btnStartOS {
  border-radius: 100%;
  width: 53px;
  height: 53px;
  background-color: rgba(0,0,0,0);
  border: solid red 2px;
  top: 183px;
  left: 122px;
}

#btnStartOS:hover {
  background-color: #22ff2288;
}

#memoryContainer {
  max-height: 176px;
  width: 244px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  left: 25px;
  top: 242px;
  border: solid #345b74 2px;
  border-radius: 5px 5px 0px 0px;
  font-family: monospace;
}

#memoryDisplay {
  background-color: #abc3cf;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #8aabbc;
}

#memoryDisplay > tr > td, #memoryDisplay > tr > th {
  border: #3f5f6e solid 1px;
  width: 100%;
}

#cpuDisplay {
  position: relative;
  border: solid #345b74 2px;
  border-radius: 5px 5px 0px 0px;
  top: 243px;  
  left: 25px;
  width: 248px;
  border-collapse: collapse;
  font-family: monospace;
  text-align: center;
}

#cpuDisplay > tbody > tr > td {
  border: #3f5f6e solid 1px;
}

#taskManagerContainer {
  border: grey 2px solid;
  background-color: darkgray;
  height: 200px;
  width: 425px;
  overflow-y: auto;
}

#taskManagerContainer > div {
  background-color: hsl(221, 87%, 45%);
  padding: 8px 0 0 0;
  text-align: center;
  font-size: large;
  color: white;
  
}

#taskManager {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  background-color: hsl(221, 87%, 65%);
  border-collapse: collapse;  
  color: black;
}

#taskManager > thead > tr > th {
  padding: 5px;
  font-weight: 500;
}

#taskManager > tbody > tr:nth-child(odd) {
  background-color: white;
}

#taskManager > tbody > tr:nth-child(even) {
  background-color: lightgray;
}

#taskManager > tbody > tr > td {
  text-align: center;
  padding: 5px;
}