/* TSOS.css */

body {
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#2f2d2f;
  cursor: default;
}

.normal_button {
  width: 80px;
  position: relative;
  display: block;
}

#btnHaltOS {
  top: 180px;
  left: 15px;
}

#btnReset {
  top: 160px;
  left: 210px;
}

#btnSingleStepToggle.on {
  color: green
}

#btnSingleStepToggle.off:enabled {
  color: red
}

#singleStepBtnGroup {
  position: relative;
  display: flex;
  width: 80px;
  top: 110px;
  left: 15px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#displayContainer {
  display: flex;
  flex-direction: column;
}

#taskbar {
  display: flex;
  align-content: space-between;
  width: 665px;
  height: 30px;
  background-color: grey;
  margin-left: 1px;
  padding: 2px;
  padding-top: 0;
  margin-top: 0;
  position: relative;
  left: 32px;
  top: 25px;
}

#taskbar > span {
  /* width: 100%; */
  flex: content;
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding: 5px;
}

#monitor {
  margin: 0 auto;
  display: relative;
  width: 732px;
}

#divLog { 
  
}

#divUserProgramInput { 
 
}

#divMain {
  display: flex;
  flex-direction: row;
}

#tower {
  width: 300px;
}

#divConsole {
  margin: 0px;
  margin-bottom: 0; 
  width: 670px; 
  height: 510px; 
  /* overflow:auto; */
  position: relative;
  top: 25px;
  left: 32px
}

#btnStartOS {
  border-radius: 100%;
  width: 53px;
  height: 53px;
  background-color: rgba(0,0,0,0);
  border: solid red 2px;
  top: 183px;
  left: 122px;
}

#btnStartOS:hover {
  background-color: #22ff2288;
}

#memoryContainer {
  max-height: 312px;
  width: 244px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  left: 25px;
  top: 242px;
  border: solid #345b74 2px;
  border-radius: 5px;
  font-family: monospace;
}

#memoryContainer::-webkit-scrollbar {
  width: 10px;
}

#memoryContainer::-webkit-scrollbar-thumb {
  background-color: #345b74;
}

#memoryDisplay {
  background-color: #abc3cf;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #8aabbc;
}

#memoryDisplay > tr > td, #memoryDisplay > tr > th {
  border: #3f5f6e solid 1px;
  width: 100%;
}

#cpuDisplay {
  position: relative;
  border: solid #345b74 2px;
  border-radius: 5px 5px 0px 0px;
  top: 243px;  
  left: 25px;
  width: 248px;
  border-collapse: collapse;
  font-family: monospace;
  text-align: center;
}

#cpuDisplay > tbody > tr > td {
  border: #3f5f6e solid 1px;
}

#taskManagerContainer {
  border: grey 2px solid;
  background-color: darkgray;
  height: 200px;
  width: 425px;
  overflow-y: auto;
}

#taskManagerContainer > div {
  background-color: hsl(221, 87%, 45%);
  padding: 8px 0 0 0;
  text-align: center;
  font-size: large;
  color: white;
  
}

#taskManager {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  background-color: hsl(221, 87%, 65%);
  border-collapse: collapse;  
  color: black;
  font-size: small;
  font-weight: 600;
  font-family: 'Courier New'
}

#taskManager > thead > tr > th {
  padding: 5px;
  font-weight: 800;
}

#taskManager > tbody > tr:nth-child(odd) {
  background-color: white;
}

#taskManager > tbody > tr:nth-child(even) {
  background-color: lightgray;
}

#taskManager > tbody > tr > td {
  text-align: center;
  padding: 5px;
}

#loading {
  display: none;
}

#loading_frog {
  position: absolute;
  z-index: 100;
  width: 500px;
  margin: 116px;
  object-fit: cover;
  object-position: 50% 0%;
  height: 0;
  padding-top: 300px;
}

#loading_bar {
  position: absolute;
  z-index: 100;
  width: 200px;
  margin: 0 266px;
  top: 420px;
  accent-color: white;
  color: black;
  height: 30px;
}

#loading_text {
  position: absolute;
  z-index: 100;
  width: 200px;
  margin: 0 266px;
  top: 450px;
  color: white;
  text-align: center;
  font-weight: lighter;
}

#taskManagerTitleBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#terminatedToggle {
  margin-left: auto;
  margin-right: 10px;
}

/* Slider example from https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

#diskContainer {
  position: absolute;
  transition: 1s all linear;
  visibility: hidden;
  background-color: #b3b3b3;
  border-left: solid 2px #3b3b3b;
  border-right: solid 2px #3b3b3b;
  z-index: 100;

  top: 67px;
  left: 35px;
  width: 241px;
  height: 38px;
  overflow-y: clip;
}

#diskContainer.open {
  visibility: visible;
  display: flex;
  flex-direction: column;
  height: 290px;
}

#btnOpenDisk {
  position: absolute;
  top: 113px;
  left: 243px;
  background-color: #4d4d4d;
  border: 2px solid #111!important;
  height: 12px;
  width: 38px;
  border: none;
}

#trayImg {
  
}

#diskDisplay > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

#diskDisplay > div > span {
  font-size: 18px;
  padding: 2px 4px;
}

#diskDisplay > div > span.allocated{
  background-color: #308dbb;
}

#diskTableHolder {
  overflow-y: scroll;
  height: calc(300px - 38px);
}

#diskTableHolder::-webkit-scrollbar {
  width: 10px;
}

#diskTableHolder::-webkit-scrollbar-thumb {
  background-color: #308dbb;
}

#diskDisplay > div > span .data-card {
  position: fixed;
  background-color: #99bdcf;
  z-index: 101;
  display: none;
  padding: 6px;
  border-radius: 12px;
  border: solid 1px #3b3b3b;
}

#diskDisplay > div > span:hover .data-card {
  display: block;
}

.data-card:hover {
  display: none;
}